* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden
}

/* this is style of nav*-bar */
nav {
    width: 100vw;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
}

nav>div>h1 {
    color: rgba(0, 0, 0, 0.629);
}

nav>div>h1>span {
    color: red;
}

.containerLink {
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.containerLink a {
    color: gray;
    text-decoration: none;

}

.button {
    width: 130px;
    height: 30px;
    border-radius: 20px;
    background-color: #CE1212;
    border: none;

}

.button a {
    color: aliceblue;
    text-decoration: none;


}

/* this is style of secound section */
.nextnav {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #12cecb;
}

.nextnav>div>img {
    width: 450px;
}

.leftNext {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: large;
}

.leftNext>div>h1 {
    font-family: "Macondo", cursive;
    color: rgb(54, 53, 53);
}

.leftNext>p {
    color: gray;
}

.child {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#video {
    text-decoration: none;
    color: rgb(54, 53, 53);
}

.fa-circle-play {
    color: #CE1212;
    font-size: large;
}

.child2 {
    width: 150px;
    display: flex;

}

/* style of about section */
.about {
    width: 100vw;
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #12cecb;
}

.child3 {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.child3>h1 {
    font-family: "Macondo", cursive;
    color: rgb(54, 53, 53);

}

.child3>h1>span {
    color: #CE1212;
}

.child4 {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left4 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
}

.left4 img {
    width: 650px;
}

.cadre {
    width: 650px;
    height: 100px;
    border: 3px gray solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
}

.cadre h1 {
    color: #CE1212;
}

.right4 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.right4 div {
    width: 80%;
    height: 50%;
}

.right4>div>img {
    width: 450px;
}

li {
    display: flex;
}

li i {
    color: #CE1212;
    padding-right: 20px;
}

.top-4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.para {
    color: rgb(103, 100, 100);
}

/* card ssection */
.chosepart {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
}

.parent-card {
    width: 90%;
    height: 80%;
    display: flex;
    gap: 20px;
}

.grandiv {
    width: 35vw;
    background-color: #CE1212;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-inline: 20px;
}

.cardiv {
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-inline: 20px;
    background-color: #FFFFFF;
}

.cardiv i {
    width: 50px;
    height: 50px;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #CE1212;
    background-color: #F2F2F2;
}

.cardiv p {
    color: gray;
}

.grandiv button {
    width: 180px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.13);
    border: none;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.grandiv>button>a {
    text-decoration: none;
    color: aliceblue;

}

/* section statistique  */
.Statistics {
    width: 100vw;
    height: 60vh;
    background-image: url(../images/Yummy/Yummy/stats-bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: x-large;
    /* filter: brightness(0.6); */

}

.Statistics>div>h1 {
    color: aliceblue;
}

.Statistics>div>p {
    color: #28425B;
}


/* menu */
.topmenu {
    width: 100vw;
    height: 15vh;
    background-color: #28425B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topmenu p {
    color: gray;
}

.topmenu h1 {
    font-family: "Macondo", cursive;
}

.topmenu span {
    color: #CE1212;
    font-family: "Macondo", cursive;

}

/* menuu  */
.menu {
    width: 100vw;
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.one {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.two {
    width: 100%;
    height: 90%;
}

.lien-menu {
    width: 50%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
}

.lien-menu a {
    text-decoration: none;
    color: rgb(61, 59, 59);
    padding-bottom: 10px;
    border-bottom: 2px gray solid;
}

.menu-top {
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-top p {
    color: #bbb;
    animation: shake 1s linear infinite;

}

.menu-top h1 {
    font-family: "Macondo", cursive;
    color: #CE1212;

}

.menu-top>h1>span {
    color: black;
}

.lesplat {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.occaecat{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.occaecat > div >img{
    width: 300px;
}
.occaecat >div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* caroussel card */


.carousel {
    position: relative;
    width: 80%;
    max-width: 900px;
    height: 400px;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
}

/* reservation */
.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.top-why {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "Macondo", cursive;
}

.top-why button {
    border: none;
    width: 120px;
    height: 30px;
    background-color: #FFF7EB;
    border-radius: 20px
}


.left-image {
    display: flex;
    gap: 10px
}

.left-image img {
    width: 400px;
    height: 450px;
    object-fit: cover;
    border-radius: 8px;
}

.form-side {
    flex: 1;
}

.row3 {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.row3 input {
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form textarea {
    width: 100%;
    height: 120px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    margin-bottom: 20px;
}

.book {
    background: #CE1212;
    width: 250px;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 100px;
}



.book:hover {
    opacity: 0.9;
}

/* Responsive */
@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    .row3 {
        flex-direction: column;
    }
}

.caroussel8 {
  width: 100%;
  padding: 60px 0;
  text-align: center;
  overflow: hidden;
}

#parent {
  width: 100%;
  display: flex;
  justify-content: center;
}

#containerimgg {
  display: flex;
  justify-content: center;
  gap: 25px;
}

#containerimgg img {
  opacity: 0.4;
  transform: scale(0.8);
  transition: 0.4s;
}

#containerimgg img.active {
  opacity: 1;
  transform: scale(1.2);
  border: 4px solid #e63946;
} 

.slidbuttonn {
  margin-top: 30px;
}

.indi {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  margin: 5px;
  background: #ccc;
  cursor: pointer;
}

.indi.active {
  background: #e63946;
}

/* contact */
.top-why{
    padding-bottom: 20px;
}
.map-container {
  max-width:100vw;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
}
.map-container iframe {
  width: 100%;
  height: 450px;
  border: none;
}
.contact-info{
    width: 100vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8;
    gap: 20px;

}
.divmail{
    width: 90%;
    display: flex;
    gap: 10px;
}
.divvv{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.info-box{
    width: 50%;
    height: 100px;
    display: flex;
    gap: 10px;
    align-items:center;
    padding-inline: 20px;
    background-color: #FFFFFF;

}
.info-box i{
    font-size: x-large;
    color: #FFFFFF;
    background-color: #CE1212;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form{
    width: 100vw;
height:70vh ;
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: center;


}
.contact-form form{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    gap: 20px;
}
.row2 {
    width: 95%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.row2 input{
    width: 45%;
    height: 50px;
}
.full{
    width: 95%;
    height: 50px;
}
.contact-form form >button{
    width: 130px;
    height: 30px;
    border-radius: 20px;
    background-color: #CE1212;
    border: none; 
    color: #FFFFFF;
}

/* footer */
footer {
    background: #111;
    color: #fff;
    padding: 40px 20px 20px;
    font-family: Arial, sans-serif;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-box {
    flex: 1 1 200px;
    min-width: 200px;
}

.footer-box>div {
    display: flex;
    gap: 10px;

}
.footer-box i{
    color: #CE1212;
    font-size: large;
}
.iccon>i{
    color:gray;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px gray solid;
}
.iccon>i:hover{
    color: #CE1212;
    border-color: #CE1212;
}
.iccon{
    text-decoration: none;
}

.footer-box>div>h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: gray;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.footer-box>div>h3>p {
    font-size: 14px;
    line-height: 22px;
    color: #ccc;
}
.text-warning{
    color: #CE1212;
}

.icon {
    margin-right: 6px;
}

.socail>a {
    display: inline-block;
    margin-right: 10px;
    width: 32px;
    height: 32px;
    border: 1px solid;
    border-radius: 50%;
    color: #28425B;
    font-size: 14px;
    text-align: center;
    line-height: 32px;
    text-decoration: none;
    color: gray;
}

.copyright {
    text-align: center;
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid #333;
    font-size: 14px;
    color: #bbb;
}

@keyframes retation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}