* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    width: 100vw;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
}

nav>div>h1 {
    color: rgba(0, 0, 0, 0.629);
}

nav>div>h1>span {
    color: red;
}

.containerLink {
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.containerLink a {
    color: gray;
    text-decoration: none;

}

.button {
    width: 130px;
    height: 30px;
    border-radius: 20px;
    background-color: #CE1212;
    border: none;

}

.button a{
    color: aliceblue;
    text-decoration: none;


}