* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden
}
/* this is style of nav*-bar */
nav {
    width: 100vw;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
}

nav>div>h1 {
    color: rgba(0, 0, 0, 0.629);
}

nav>div>h1>span {
    color: red;
}

.containerLink {
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.containerLink a {
    color: gray;
    text-decoration: none;

}

.button {
    width: 130px;
    height: 30px;
    border-radius: 20px;
    background-color: #CE1212;
    border: none;

}

.button a{
    color: aliceblue;
    text-decoration: none;


}
/* this is style of secound section */
.nextnav{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #12cecb;
}
.nextnav >div > img{
    width: 450px;
}
.leftNext{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: large;
}
.leftNext > div >h1{
    font-family: "Macondo", cursive;
    color: rgb(54, 53, 53);
}
.leftNext > p {
    color: gray;
}
.child{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#video{
    text-decoration: none;
    color: rgb(54, 53, 53);
}
.fa-circle-play{
    color: #CE1212;
    font-size: large;
}
.child2{
    width: 150px;
    display: flex;

}
/* style of about section */
.about{
    width: 100vw;
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #12cecb;
}
.child3{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.child3 > h1{
        font-family: "Macondo", cursive;
            color: rgb(54, 53, 53);

}
.child3 > h1 > span{
    color: #CE1212;
}
.child4{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left4{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px; 
}
.left4 img{
    width: 650px;
}

.cadre{
    width: 650px;
    height: 100px;
    border: 3px gray solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
}
.cadre h1{
    color: #CE1212;
}
.right4{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.right4 div{
    width: 80%;
    height: 50%;
}
.right4 > div > img{
    width: 450px;
}
li{
    display: flex;
}
li i{
    color: #CE1212;
    padding-right: 20px;
}
.top-4{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.para{
    color: rgb(103, 100, 100);
}

/* card ssection */
.chosepart{
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
}
.parent-card{
    width:90% ;
    height: 80%;
    display: flex;
    gap: 20px;
}
.grandiv{
    width: 35vw;
    background-color: #CE1212;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-inline: 20px;
}
.cardiv{
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    gap: 30px;
    padding-inline: 20px;
    background-color: #FFFFFF;
}
.cardiv i{
    width: 50px;
    height: 50px;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #CE1212;
    background-color: #F2F2F2;
}
.cardiv p{
    color: gray;
}
.grandiv button{
    width: 180px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.13);
    border: none;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.grandiv > button > a{
    text-decoration: none;
        color: aliceblue;

}
